<footer class="it-foot">
    <div class="it-container">
        <div class="it-foot-inner">
            <div class="it-foot-brand">
                <h4>
                    <a class="it-foot-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}" />
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                </h4>
                {{#if @site.description}}
                    <p>{{@site.description}}</p>
                {{/if}}
            </div>
            <div class="it-foot-menu">
                <h4>{{t "Topics"}}</h4>
                {{#if @site.secondary_navigation}}
                    {{navigation type="secondary"}}
               {{else}}
                   {{navigation}}
               {{/if}}
            </div>
            <div class="it-foot-tag">
                <h4>{{t "Popular Tags"}}</h4>
                {{#get 'tags' limit='10' include='count.posts' order='count.posts desc'}}
                    {{#foreach tags}}
        				<a href="{{url}}" title="{{title}}">{{name}}</a>
        			{{/foreach}}
    			{{/get}}
            </div>


            <div class="it-subscribe-section">
                	<h4>{{t "Subscribe to our Telegram Channel!"}}</h4>
                	<p>{{t "Stay up to date! Get all the latest & greatest post straight to your Telegram!"}}</p>
                  <center><button class="it-button it-button-primary">
                    <a href="https://t.me/luroio">Subscribe!</a>
                  </button></center>
            </div>

            <div class="it-foot-meta">
                &copy; {{date format="YYYY"}} {{@site.title}}
            </div>
            <div class="it-foot-social">
                {{#if @site.twitter}}
                <a href="{{twitter_url @site.twitter}}" title="{{t "Twitter"}}" target="_blank" rel="noopener" aria-label="{{t "Twitter"}}">{{> "icons/twitter"}}</a>
                {{/if}}
                <a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="{{t "RSS"}}" target="_blank" rel="noopener" aria-label="{{t "RSS"}}">{{> "icons/rss"}}</a>
            </div>
        </div>
    </div>
</footer>

